@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center mt-5">
    <h1 class="display-4">Witaj w wirtualnej bibliotece📚</h1>

    <p class="lead mt-3">
        Przeglądaj książki, wypożyczaj je i zarządzaj swoimi wypożyczeniami.
    </p>

    <div class="mt-4 d-flex justify-content-center gap-3">
        <a asp-controller="Books"
           asp-action="Index"
           class="btn btn-primary btn-lg">
            📖 Przejdź do biblioteki
        </a>

        @if (User.Identity?.IsAuthenticated == true)
        {
            <a asp-controller="Rentings"
               asp-action="My"
               class="btn btn-success btn-lg">
                👤 Mój profil
            </a>
        }
        else
        {
            <a asp-area="Identity"
               asp-page="/Account/Login"
               class="btn btn-outline-secondary btn-lg">
                🔐 Zaloguj się
            </a>
        }
    </div>
</div>
<hr class="my-5" />

<div class="row g-3">
    <div class="col-md-4">
        <div class="card shadow-sm border-0 rounded-4 h-100">
            <div class="card-body">
                <div class="text-muted fw-semibold">📚 Książki</div>
                <div class="display-6 fw-bold">@ViewBag.BooksCount</div>
                <div class="text-muted">w bazie</div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm border-0 rounded-4 h-100">
            <div class="card-body">
                <div class="text-muted fw-semibold">🏷️ Kategorie</div>
                <div class="display-6 fw-bold">@ViewBag.CategoriesCount</div>
                <div class="text-muted">dostępnych</div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm border-0 rounded-4 h-100">
            <div class="card-body">
                <div class="text-muted fw-semibold">📖 Aktywne wypożyczenia</div>
                <div class="display-6 fw-bold">@ViewBag.ActiveRentingsCount</div>
                <div class="text-muted">do zwrotu</div>
            </div>
        </div>
    </div>
</div>
