@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to the Virtual Library📚</h1>

    <p class="lead mt-3">
        Browse, borrow and manage your books.
    </p>

    <div class="mt-4 d-flex justify-content-center gap-3">
        <a asp-controller="Books"
           asp-action="Index"
           class="btn btn-primary btn-lg">
            📖 Go To The Library
        </a>

        @if (User.Identity?.IsAuthenticated == true)
        {
            <a asp-controller="Rentings"
               asp-action="My"
               class="btn btn-success btn-lg">
                👤 My Profile
            </a>
        }
        else
        {
            <a asp-area="Identity"
               asp-page="/Account/Login"
               class="btn btn-outline-secondary btn-lg">
                🔐 Log In
            </a>
        }
    </div>
</div>
<hr class="my-5" />

<div class="row g-3">
    <div class="col-md-4">
        <div class="card shadow-sm border-0 rounded-4 h-100">
            <div class="card-body">
                <div class="text-muted fw-semibold">📚 Books</div>
                <div class="display-6 fw-bold">@ViewBag.BooksCount</div>
                <div class="text-muted">available</div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm border-0 rounded-4 h-100">
            <div class="card-body">
                <div class="text-muted fw-semibold">🏷️ Categories</div>
                <div class="display-6 fw-bold">@ViewBag.CategoriesCount</div>
               
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm border-0 rounded-4 h-100">
            <div class="card-body">
                <div class="text-muted fw-semibold">📖 Books</div>
                <div class="display-6 fw-bold">@ViewBag.ActiveRentingsCount</div>
                <div class="text-muted">pending return</div>
            </div>
        </div>
    </div>
</div>
